.header{
    text-align: center;
    font-size: 48px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aqua;
}

.cardcard{
    max-width: 20%;
    max-height: 10%;
    padding-bottom: 120px;
    
}
.imaggee{
    margin: 5%;
}
.searchFilter{
    max-width: 400px;
    max-height: 100px;
    padding-left: 135px;
    padding-bottom: 25px;
}