.movie{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 60px;
    
}
.form-control{
    width: 250px;
    margin-left: 0px;
    margin-top: 70px;
}
.inputtt{
    width: 300px;

}

.star{
    float:right;
    margin-right: 30px;
}
.buttonra{
    margin-top: 15px;
    margin-left: 300px;
    text-align: center;
}
.position{
    
    width: 10px;
}
.free{
    text-align: center;
    color: blanchedalmond;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    font-style: italic;
    text-decoration-line: underline;
}
.App{
    background-color: black;

}
html{
    background-color: black;
}
.moviecard{
    text-align: center;
}
.rate{
    justify-content: center;
}
.raectstars{
    text-align: center;
    justify-content: center;
    margin-left: 125px;
}
.video{
    justify-content: center;
    margin-left: 400px;
}

